- extra_cols = person.all_partners.size - 3
- if extra_cols > 0
  - fill_cols = 0
- else
  - fill_cols = -extra_cols
  - extra_cols = 0

#tree_container{ style: "width: #{ 1000 + (extra_cols * 100)}px;" }
  %table.tree
    %tr.greatgrandparents
      %td= tree_node person.mother.mother.mother rescue tree_node nil
      %td= tree_node person.mother.mother.father rescue tree_node nil
      %td= tree_node person.mother.father.mother rescue tree_node nil
      %td= tree_node person.mother.father.father rescue tree_node nil
      %td= tree_node person.father.mother.mother rescue tree_node nil
      %td= tree_node person.father.mother.father rescue tree_node nil
      %td= tree_node person.father.father.mother rescue tree_node nil
      %td= tree_node person.father.father.father rescue tree_node nil
      - extra_cols.times do
        %td
    %tr.grandparents
      %td(colspan="2")= tree_node person.mother.mother rescue tree_node nil
      %td(colspan="2")= tree_node person.mother.father rescue tree_node nil
      %td(colspan="2")= tree_node person.father.mother rescue tree_node nil
      %td(colspan="2")= tree_node person.father.father rescue tree_node nil
      - extra_cols.times do
        %td
    %tr.parents
      %td(colspan="4")= tree_node person.mother rescue tree_node nil
      %td(colspan="4")= tree_node person.father rescue tree_node nil
      - extra_cols.times do
        %td
    %tr
      %td(colspan="3")
      %td.self{ colspan: '2' }
        = tree_node person, active: true
      - if person.all_partners.size > 0
        %td.partners{ colspan: '1' }
          .partner
            - if person.all_partners.size > 1
              %a.btn.btn-light.btn-sm.btn-partners{ href: '#', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
                = fa_icon 'list'
              .dropdown-menu
                .nav#v-pills-tab(role="tablist" aria-orientation="vertical")
                  - person.all_partners.each_with_index do |person, index|
                    %a.nav-link{ class: (index == 0 ? 'active' : nil), id: "v-pills-#{person.id}-tab", data: { toggle: "pill" }, href: "#v-pills-#{person.id}", role: "tab", aria: { controls: "v-pills-#{person.id}", selected: "true" } }
                      = person.name
            .tab-content
              - person.all_partners.each_with_index do |person, index|
                .tab-pane.fade.show{ class: (index == 0 ? 'active' : nil), id: "v-pills-#{person.id}", role: "tabpanel", aria: { labelledby: "v-pills-#{person.id}-tab" } }
                  = tree_node person
                  = children_with person
    %tr
      %td(colspan='3')
      %td(colspan='2')
        = children_with :unknown

      - fill_cols.times do
        %td
          &nbsp;
