#create_person_dialog{:title => "Add Person"}
  = render :partial => 'new_remote', :locals => { :person => Person.new }

.container
  .row
    .col-6
      %h2= @person.name

    .col-6.text-right
      showing version #{@person.version} – #{link_to "current version", @person}
      = link_to "view history", versions_person_path(@person)
      = link_to 'edit', edit_person_path(@person), class: 'btn btn-dark'

#tree= render partial: 'tree', locals: { person: @person }

.container.mt-3
  .row
    .col-8
      %h3 Bio
      %p= @person.bio

    .col-4
      %h3 Information
      %table.table.table-sm
        %tr
          %th Gender:
          %td= @person.gender

        - if@person.date_of_birth
          %tr
            %th Date of Birth:
            %td= @person.date_of_birth

        - if@person.date_of_death
          %tr
            %th Date of Death:
            %td= @person.date_of_death

        - if @father
          %tr
            %th Father:
            %td= link_to @father.name, @father

        - if @mother
          %tr
            %th Mother:
            %td= link_to @mother.name, @mother
        %tr
          %th Partners:
          %td= render partial: 'people/partnerships', locals: { person: @person }
        %tr
          %th Children:
          %td
            .editable
              = render :partial => 'children', :locals => { :person => @person }
              = link_to( "Add new child", '#', onclick: "swapVisibility( $( '#add_child_form_container' ), $( '#add_child_link' ) ); $( '#child_name' ).focus()", :id => "add_child_link" )
              #add_child_form_container{:style => "display: none;"}
                = form_for :child, :remote => true, :url => person_children_path(@person), :html => { 'data-type' => 'html', :id => 'add_child_form' } do |f|
                  Name: #{f.autocomplete_field :child_name, autocomplete_person_name_people_path, :"data-id_element" => "#child_child_id"}
                  \#{f.hidden_field( :child_id )}
