!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WikiGini
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = content_for :head
  %body
    = render 'layouts/header'
    =# yield :body_tag_attributes &gt;
    = yield
