!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Geneus
    = csrf_meta_tags
    = csp_meta_tag
    = render 'layouts/favicon'

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application',               'data-turbolinks-track': 'reload'
    = content_for :head

  %body
    = render 'layouts/header'
    = yield
