<!DOCTYPE html>
<html>
<head>
<title>WikiGini</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= content_for :head -%>
</head>
<body <%= yield :body_tag_attributes -%>>
  <div id="topbar">
    <div id="navigation">
      <h4>Navigate:</h4>
      <ul>
        <%
          nav = []
          nav << link_to('Index Of People', people_path)
          nav << link_to('New Person', new_person_path)
          nav.each do |item|
        %>
        <li><%= item %></li>
        <%
          end
        %>
      </ul>
      <br />
    </div>
  </div>

  <div id="page">
    <%= yield %>
  </div>
</body>
</html>
